# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/gradle/wrapper/gradle-wrapper.jar
/src/main/resources/logo.png
/src/main/resources/assets/sexmod/*